@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased bg-slate-950 text-slate-100 font-sans;
}

::selection {
  @apply bg-accent/70 text-slate-950;
}

a {
  @apply text-primary transition-colors duration-200;
}

a:hover {
  @apply text-accent;
}
